# OpenAI API Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Database Configuration (use the pooled connection string from Supabase)
DATABASE_URL="postgresql://postgres.rgffppowaeavzwlratcf:[Getitgetit12]@aws-0-us-west-2.pooler.supabase.com:5432/postgres"

# NextAuth.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=openssl rand -base64 32

# Environment
NODE_ENV=development
